.hero-body {
    background-color: rgba(50, 59, 57, 1);
}

.hero-head {
    background-color: rgba(50, 59, 57, 1);
    align-items: center;
    font-family: Cambria;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
    align-items:center;
}

.notification {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    background-color: rgba(50, 59, 57, 0.1);
}

.photoText {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}

.textOnPhoto {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: Cambria;
    font-size: 14px;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 256px;
    max-height: 256px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.textOnPhoto p {
    opacity: 0;
}

.textOnPhoto:hover p {
    opacity: 0.7;
    min-width: 256px;
    min-height: 256px;
}

.menubar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.breadcrumb {
    font-family: Cambria;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Cambria;
    font-size: 16px;
    margin-top: 5px;
}

.button {
    background-color: rgb(5, 251, 216);
    height: 30px;
    vertical-align: central;
    line-height: 20px;
    padding-bottom: 3px;
}

.button:hover {
    background-color: rgb(255, 170, 0);
    height: 30px;
    vertical-align: central;
}

.footer {
    background-color: rgba(50, 59, 57, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 30px;

}

.p {
    font-family: Cambria;
    font-size: 16px;
}

